.App {
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 80px;
  color: white;
  position: sticky;
  z-index: 100;
  display: flex;
}

.App-title {
  font-size: 1.5em;
}

.App-map {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.App-map {
  z-index: 999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
